<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />


    <!-- ================ 获取位置需要的权限 ================ -->
    <!-- 请求大致位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 请求确切位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--后台位置信息 Android 10 (API level 29) 或更高版本 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />


    <!--android 9.0上使用前台服务，需要添加权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 解锁屏幕需要的权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 申请电源锁需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />


    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />


<!--    &lt;!&ndash; 允许程序设置内置sd卡的写权限 &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> &lt;!&ndash; 允许程序获取网络状态 &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> &lt;!&ndash; 允许程序访问WiFi网络信息 &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> &lt;!&ndash; 允许程序读写手机状态和身份 &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> &lt;!&ndash; 允许程序访问CellID或WiFi热点来获取粗略的位置 &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.RECORD_AUDIO" />-->
<!--    <uses-permission android:name="android.permission.BODY_SENSORS" />-->
<!--    <uses-permission android:name="android.permission.BODY_SENSORS_BACKGROUND" />-->
<!--    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />-->
<!--    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />-->
<!--    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />-->


    <application
        android:name=".permission.AppApplication"
        android:icon="@mipmap/ic_nsyy"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icons8_cat_96px_1" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:supportsPictureInPicture="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 通知监听服务 -->
        <service
            android:name=".permission.NotificationMonitorService"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.NsServerService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>