<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 网络 -->

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 相机（扫码） -->

    <uses-permission android:name="android.permission.CAMERA" />

    <!-- FLASHLIGHT（手电筒） -->

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- 定位（蓝牙 / 业务定位） -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 通知 -->

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- 前台服务（如确实有） -->

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- 开机自启动权限 -->

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 保持唤醒 防止设备休眠 后台任务 / 播放 / 实时连接 -->

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 震动 通知震动 -->

    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 摄像头 feature -->

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <!--  荣耀推送： targerSdkVersion大于等于30，需要在 AndroidManifest.xml 中添加标签，用于查找到对应的action。  -->
    <queries>
        <intent>
            <action android:name="com.hihonor.push.action.BIND_PUSH_SERVICE" />
        </intent>
    </queries>

    <!--  为过审删除 android:requestLegacyExternalStorage="true"  -->
    <application
        android:name="com.nsyy.nsyy.permission.AppApplication"
        android:icon="@mipmap/ic_nsyy"
        android:installLocation="internalOnly"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">
        <activity
            android:name="com.nsyy.nsyy.vivo_scan.VivoQRCodeScanActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icons8_cat_96px_1" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" />

        <activity
            android:name="com.nsyy.nsyy.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:supportsPictureInPicture="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 华为推送配置（自动） -->
        <meta-data
            android:name="push_kit_auto_init_enabled"
            android:value="true"/>
        <service android:name="com.nsyy.nsyy.service.NsyyHmsMessageService" android:exported="false" android:directBootAware="true">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <!-- 荣耀推送配置 -->
        <meta-data
            android:name="com.hihonor.push.app_id"
            android:value="104537220" />
        <service
            android:name="com.nsyy.nsyy.service.NsyyHonorMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hihonor.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <!--  oppo推送  -->
        <!-- Android 10 及以上 -->
        <service
            android:name="com.nsyy.nsyy.service.NsyyOppo10Service"
            android:permission="com.heytap.mcs.permission.SEND_PUSH_MESSAGE"
            android:exported="true"
            tools:targetApi="29">
            <intent-filter>
                <action android:name="com.heytap.mcs.action.RECEIVE_MCS_MESSAGE" />
                <action android:name="com.heytap.msp.push.RECEIVE_MCS_MESSAGE" />
            </intent-filter>
        </service>
        <!-- Android 9 及以下 -->
        <service
            android:name="com.nsyy.nsyy.service.NsyyOppo9Service"
            android:permission="com.coloros.mcs.permission.SEND_MCS_MESSAGE"
            android:exported="true"
            tools:targetApi="28">
            <intent-filter>
                <action android:name="com.coloros.mcs.action.RECEIVE_MCS_MESSAGE" />
            </intent-filter>
        </service>

        <!-- vivo Push开放平台中应用的appid和apikey-->
        <meta-data android:name="com.vivo.push.api_key" android:value="11f1452de50721734e395fbc0a1624fc"/>
        <meta-data android:name="com.vivo.push.app_id" android:value="106010793"/>
        <meta-data android:name="com.vivo.push.sdk_version_vivo" android:value="510"/>
        <!-- push应用定义消息receiver声明 -->
        <receiver android:name="com.nsyy.nsyy.service.NsyyVivoMessageReceiverImpl"
            android:exported="false">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.vivo.pushclient.action.RECEIVE"/>
            </intent-filter>
        </receiver>


        <service
            android:name="com.nsyy.nsyy.service.NsServerService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.nsyy.nsyy.service.NsyyServerBroadcastReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.nsyy.Nsyy.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name="com.nsyy.nsyy.notification.NotificationClickReceiver" />
    </application>

</manifest>